<a
  href="#contact"
  class="bg-accent block px-4 py-2 text-center transition-opacity hover:opacity-90 lg:py-2.5"
>
  <p class="font-body text-sm tracking-[0.02em] text-white uppercase lg:text-[18px]">
    SCHEDULE A DESIGN CONSULT TODAY
  </p>
</a>
